@media screen and (min-width: 768px){

    
    .carrousel{
        display: none;
    }

    .navbar-toggler{
        display: none;
    }

    .navbar-expand-lg .navbar-nav{
        flex-direction: row;
    }
}

    

