.titulo-2 a img{
    align-items: center;
}

.container-enlaces img{
    width: 40%;
    align-items: center;
    margin: 50px;
    border-radius: 5px;
}


.container-enlaces img:hover{
    border: 5px inset yellow
}